<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/input.css">
</head>
<body class="bg-slate-950 text-white">
    <h1 class="hello">Hello mr Devam</h1>

    <div class="container">
        <% if (users.length > 0) { %>  
        <% users.forEach( (user) => { %>
 
            <div class="card">
                <h4>name : <%= user.name %></h4>
                <p>email : <%= user.email %></p>
                <p>profession : <%= user.profession %></p>
            </div>
            <% }) %>
            <% } else{ %>
                <h2>not user yet</h2>
            <% } %>
        </div>

</body>
</html>